<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}"/>
</head>

<body>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="/home">PukulEnam</a></div>
            <ul>
                <li><a href="/lsa">LSA</a></li> 
                <li><a href="/lsa+pegasus">LSA & PEGASUS</a></li> 
            </ul>
        </div>
    </nav>

    <div class="result">
        <div class="lsa-result">
            <h1>TEKS HASIL LSA:</h1>
            <textarea id="copyText">{{news_sum}}</textarea> <!-- teks awal -->
            <div class="copy"><button id="copyButton">copy in clipboard</button><span class="tooltip">Copied</span></div>
        </div>
    </div>

    <script>
        const tx = document.getElementsByTagName("textarea");
for (let i = 0; i < tx.length; i++) {
  tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
  tx[i].addEventListener("input", OnInput, false);
}

function OnInput() {
  this.style.height = "auto";
  this.style.height = (this.scrollHeight) + "px";
}
        let copyText = document.getElementById("copyText");
        let copyButton = document.getElementById("copyButton");
        let tooltip = document.querySelector(".tooltip");

        copyButton.onclick = function(){
            copyText.select();
            document.execCommand("copy");
                tooltip.classList.add("show");
                setTimeout(function(){
                    tooltip.classList.remove("show");
                },700);
        }
    </script>
    
    
</body>

</html>